<h1><%= @payload.name %></h1>

<div class="container">
  <div class="row">
    <div id="payload-params">
      <div id="text-spot">
        <textarea id="text-area"></textarea>
      </div>
      <div id="modal">
        <div id="modal-content">
          <div id="json-rows">
            <form id="json-form">
            <div class="row">
              <div class="json-header-row">
                <div class="key-label col-xs-5">
                  <span>KEY</span>
                </div>
                <div class="colon-label col-xs-1">
                  <span>:</span>
                </div>
                <div class="value-label col-xs-5">
                  <span>VALUE</span>
                </div>
              </div>
            </div>
            <div class="row json-row">
              <div class="key-field col-xs-5">
                <input class="key-data">
              </div>
              <div class="colon-holder col-xs-1">
                <span>:</span>
              </div>
              <div class="value-field col-xs-5">
                <input class="value-data">
              </div>
              <div class="delete-area col-xs-1">
                <button class="delete-button" type="button">X</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="save-button" type="submit">Save</button>
            <button id="cancel-button" type="button">Cancel</button>
            <button id="add-row" type="button">Add a Row</button>
          </div>
        </form>
        </div>
      </div>

    </div>
  </div>
</div>
